@import "../../global.scss";

.wrapper {
  margin-top: 20px;
  border-bottom: 1px solid black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .logo {
    position: absolute;
    left: 20px;
    height: 60px;
    width: 60px;
  }
  .navlink {
    display: block;
    position: absolute;
    right: 20px;
    @media (max-width: $sm), (max-width: $md) {
      // display: none;
      padding: 10px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    .btn {
      margin: 8px;
      font-weight: 500;
      color: $primary;
    }
    .btn:hover {
      text-decoration: underline;
    }
  }
  // .menu{
  //   @media (max-width: $sm){
  //     display: flex;
  //     position: absolute;
  //     top: 10px;
  //     right: 20px;
  //     height: 40px;
  //     width: 34px;
  //     .hamburger{
  //       border: 1px solid red;
  //       display: flex;
  //       flex-direction: row;
  //     }
  //   }
  //   display: none;
  //   .hamburger{
  //    display: none; 
  //   }
   
  // }
}
